[*.cs]

# S1144: Unused private types or members should be removed
dotnet_diagnostic.S1144.severity = warning

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = silent

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = error

# SA1508: Closing braces should not be preceded by blank line
dotnet_diagnostic.SA1508.severity = error

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = error

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = error

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = error

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = suggestion

# IDE0001: Упрощение имен
dotnet_diagnostic.IDE0001.severity = error

# SA1514: Element documentation header should be preceded by blank line
dotnet_diagnostic.SA1514.severity = error

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity = error

# IDE0004: Remove Unnecessary Cast
dotnet_diagnostic.IDE0004.severity = error

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = error

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = error

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = error

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = error

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = error

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = error

# SA1025: Code should not contain multiple whitespace in a row
dotnet_diagnostic.SA1025.severity = error

# SA1019: Member access symbols should be spaced correctly
dotnet_diagnostic.SA1019.severity = error

# SA1507: Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = error

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = error

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = error

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = error

# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = error

# CS1591: No XML comment for an open visible type or member
dotnet_diagnostic.CS1591.severity = warning

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = suggestion

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = warning

# IDE0027: Use expression body for accessor
dotnet_diagnostic.IDE0027.severity = error

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = suggestion

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = error

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = error

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = error


# SA1617: Void return value should not be documented
dotnet_diagnostic.SA1617.severity = error

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = error

# SA1309: Field names must not begin with underscore
dotnet_diagnostic.SA1309.severity = error

# S1481: Unused local variables should be removed
dotnet_diagnostic.S1481.severity = error

[*.cs]
#### Naming Styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Character Specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming Styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_space_around_binary_operators = before_and_after
dotnet_diagnostic.SA1413.severity = error
dotnet_diagnostic.SA1204.severity = error
dotnet_diagnostic.SA1303.severity = suggestion
dotnet_diagnostic.SA1625.severity = silent
dotnet_diagnostic.SA1512.severity = error
dotnet_diagnostic.SA1009.severity = error
dotnet_diagnostic.SA1107.severity = suggestion
dotnet_diagnostic.SA1312.severity = error
dotnet_diagnostic.SA1638.severity = error
dotnet_diagnostic.S2201.severity = error
dotnet_diagnostic.SA1636.severity = error
dotnet_diagnostic.SA1313.severity = error
dotnet_diagnostic.S2326.severity = error
dotnet_diagnostic.SA1117.severity = error
dotnet_diagnostic.SA1616.severity = error

# CS8618: Поле, не допускающее значения NULL, должно содержать значение, отличное от NULL, при выходе из конструктора. Возможно, стоит объявить поле как допускающее значения NULL.
dotnet_diagnostic.CS8618.severity = error
dotnet_diagnostic.S1117.severity = error

# CS1572: Комментарий XML содержит тег param, но параметр с таким именем не существует
dotnet_diagnostic.CS1572.severity = error
dotnet_diagnostic.SA1008.severity = error
dotnet_diagnostic.S2094.severity = error
dotnet_diagnostic.SA1116.severity = error
dotnet_diagnostic.SA1127.severity = error
dotnet_diagnostic.SA1314.severity = suggestion

[*.vb]
#### Naming Styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_начинается_с_i.severity = suggestion
dotnet_naming_rule.interface_should_be_начинается_с_i.symbols = interface
dotnet_naming_rule.interface_should_be_начинается_с_i.style = начинается_с_i

dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.severity = suggestion
dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.symbols = типы
dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.style = всечастиспрописнойбуквы

dotnet_naming_rule.не_являющиеся_полем_члены_should_be_всечастиспрописнойбуквы.severity = suggestion
dotnet_naming_rule.не_являющиеся_полем_члены_should_be_всечастиспрописнойбуквы.symbols = не_являющиеся_полем_члены
dotnet_naming_rule.не_являющиеся_полем_члены_should_be_всечастиспрописнойбуквы.style = всечастиспрописнойбуквы

# Character Specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.типы.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.типы.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.типы.required_modifiers = 

dotnet_naming_symbols.не_являющиеся_полем_члены.applicable_kinds = property, event, method
dotnet_naming_symbols.не_являющиеся_полем_члены.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.не_являющиеся_полем_члены.required_modifiers = 

# Naming Styles

dotnet_naming_style.начинается_с_i.required_prefix = I
dotnet_naming_style.начинается_с_i.required_suffix = 
dotnet_naming_style.начинается_с_i.word_separator = 
dotnet_naming_style.начинается_с_i.capitalization = pascal_case

dotnet_naming_style.всечастиспрописнойбуквы.required_prefix = 
dotnet_naming_style.всечастиспрописнойбуквы.required_suffix = 
dotnet_naming_style.всечастиспрописнойбуквы.word_separator = 
dotnet_naming_style.всечастиспрописнойбуквы.capitalization = pascal_case

dotnet_naming_style.всечастиспрописнойбуквы.required_prefix = 
dotnet_naming_style.всечастиспрописнойбуквы.required_suffix = 
dotnet_naming_style.всечастиспрописнойбуквы.word_separator = 
dotnet_naming_style.всечастиспрописнойбуквы.capitalization = pascal_case

[*.{cs,vb}]
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_code_quality_unused_parameters = all:error
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = error

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = error

# S1144: Unused private types or members should be removed
dotnet_diagnostic.S1144.severity = error

# IDE0052: Unused private types or members should be removed
dotnet_diagnostic.IDE0052.severity = error

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = error
