[*.cs]

# S1144: Unused private types or members should be removed
dotnet_diagnostic.S1144.severity = warning

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = silent

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = error

# SA1508: Closing braces should not be preceded by blank line
dotnet_diagnostic.SA1508.severity = error

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = error

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = true

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = error

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = error

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = suggestion

# IDE0001: Упрощение имен
dotnet_diagnostic.IDE0001.severity = error

# SA1514: Element documentation header should be preceded by blank line
dotnet_diagnostic.SA1514.severity = error

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity = error

# IDE0004: Remove Unnecessary Cast
dotnet_diagnostic.IDE0004.severity = error

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = error

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = error

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = error

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = error

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = error

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = error

# SA1025: Code should not contain multiple whitespace in a row
dotnet_diagnostic.SA1025.severity = error

# SA1019: Member access symbols should be spaced correctly
dotnet_diagnostic.SA1019.severity = error

# SA1507: Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = error

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = error

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = error

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = error

# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = error

# CS1591: Отсутствует комментарий XML для открытого видимого типа или члена
dotnet_diagnostic.CS1591.severity = error

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = suggestion

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = error

# IDE0027: Use expression body for accessor
dotnet_diagnostic.IDE0027.severity = error

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = suggestion

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = error

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = error

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = error


# SA1617: Void return value should not be documented
dotnet_diagnostic.SA1617.severity = error

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = error
